[Unit]
Description=Telegram bot for media server
After=minidlna.service
PartOf=minidlna.service
Requires=minidlna.service

[Service]
Restart=always
Environment="SCRIPT_ARGS=%I"
ExecStart=/usr/local/bin/bbg-telegram-media-server "${SCRIPT_ARGS}"

[Install]
WantedBy=multi-user.target
