[Unit]
Description=Telegram bot for media server
After=minidlna.service
PartOf=minidlna.service
Requires=minidlna.service

[Service]
EnvironmentFile=/etc/bbg-telegram-media-server/bbg-telegram-media-server.conf
ExecStart=bbg-telegram-media-server $WORKDIR

[Install]
WantedBy=multi-user.target
