[Unit]
Description=Telegram bot for media server
After=minidlna.service
PartOf=minidlna.service
Requires=minidlna.service

[Service]
Restart=always
Environment=/etc/.bbg-telegram-media-server-conf
ExecStart=/usr/local/bin/bbg-telegram-media-server $WORKDIR

[Install]
WantedBy=multi-user.target
